 	html{
		min-height: 100%;
		margin:0;
		overflow: auto;
		background-color:#6AB7EE;
		height: :100%;
	}
	#login_outer{
		background-color:#6AB7EE;
		height: 100%;
		background-attachment: scroll;
	}
	#login_inner{
		background-color:#FFFFFF;
		margin-top: 10%;
		border-radius:3px; 
		padding: 15px;
	}
	.error{
		color: red;
		margin-bottom: 10px;
	}
	.success{
		color: green;
		margin-bottom: 10px;
	}
	.error1{
		display: none;
		color: red;
		margin-bottom: 10px;
	}
	.container{
		background-color: #fff;
		height: 100%;
	}
	.btn{
		width: 100%;
		margin-bottom: 10px !important;
	}
	.navbar{
		margin: 0;
		width: 100%;
	}
	.nomargin{
		padding-left:0 !important;
		padding-right:0 !important;
	}
	.capital 
	{
	    text-transform:capitalize;
	}
	form{
		margin-bottom:10px;
	}
	.book_name{
		font-weight: 900;
		font-size: 28px;
	}
	.table1{
		margin-bottom: 0px !important;
	}
	.hr{
		margin-top: 0px !important;
		margin-bottom: 5px !important;
	}
@media print{
                        table { page-break-after:auto;}
                        tr    { page-break-inside:avoid;}
                        td    { page-break-inside:auto;}
                        thead { display:table-header-group }

                        .row-fluid [class*="span"] {
                          min-height: 20px;
                        }
                    }

                    @page { 
                        margin-top: 1cm;
                        margin-right: 1cm;
                        margin-bottom:2cm;
                        margin-left: 2cm;';
                        size:portrait;
                        /*
                        size:landscape;
                        -webkit-transform: rotate(-90deg); -moz-transform:rotate(-90deg);
                        filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
                        */

                    };